.btn {
  border: none;
  background-color: inherit;
  font-size: 15px;
  padding: 15px;
  display: block;
}

.btn:hover {
  background-color: black;
  color: white;
  border-radius: 4px;
}

.active {
  background-color: black;
  color: white;
  border-radius: 4px;
}
