.container {
  display: flex;
  justify-content: center;
  width: 20%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .row {
    width: 100%;
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
}
